<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @example.title %></h1>

<div class="container">
  <%= @example.content %>
</div>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
