<!DOCTYPE html>
<html>
  <head>
    <title>Kairanban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/dashboard_header' %>
    <div class="row">
      <div class="col-4">
        <%= render 'layouts/dashboard_sidebar' %>
      </div>
      <div class="col-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
